---
import PrincipalLayout from "../../layouts/principalLayout.astro";
import Footer from "../../components/Footer/footer.astro";
---

<PrincipalLayout
  title="Sobre Antony"
  description="La vida profesional de Antony chuquival Huallanca"
>
  <main></main>
  <Footer />
</PrincipalLayout>
