---
import PrincipalLayout from "../layouts/principalLayout.astro";

const props = {
  title: "Inicio - Antony CH DEV",
  description:
    "Programador web versátil y apasionado por las metodologías ágiles. Experto en una amplia gama de tecnologías para crear experiencias digitales impactantes y funcionales. Descubre mi portafolio para explorar proyectos innovadores y soluciones desarrolladas con destreza técnica y enfoque ágil.",
  key_words:
    "React, Next.js, Nest.js, Node.js, SQL, PostgreSQL, desarrollo web, programación web, metodologías ágiles, frontend, backend, experiencia de usuario, diseño web, HTML, CSS, JavaScript, Scrum, Kanban, gestión de proyectos, portafolio de proyectos, aplicaciones web, optimización web",
};
---

<PrincipalLayout
  title={props.title}
  description={props.description}
  key_words={props.key_words}
>
  <h1>Hola</h1>
</PrincipalLayout>
